<%= provide(:title, "O nás")%>
<h1>O projekte</h1>

<p>
  Cieľom tejto stránky je uľahčiť komunite psíčkarov snahu nájsť vhodné
  miesto, kam je a kam nie je možné vyjsť na prechádzku, so svojím štvornohým
  spoločníkom. Zóny zakresľujú samotní použivatelia stránky, takisto ich komentujú
  a hodnotia.
</p>
<p>
  Stránka je vyvíjaná vrámci predmetu Výskumne orientovaný seminár pod záštitou
  FIIT STU.
</p>