<div class="center jumbotron">
  <h1>Vitajte vo venčoviskách</h1>

  <p>
    Stránke, kde sa môžete podeliť o svoje skúsenosti a zážitky so psami
    v rôznych kútoch Slovenska. Viac informácií nájdete <%= link_to 'tu', about_path %>
  </p>

  <%= link_to("Prihlásiť sa", login_path, class: "btn btn-lg btn-primary") unless logged_in? %>
  <%= link_to("Zobraziť zoznam miest", cities_path, class: "btn btn-lg btn-primary") %>
  <div class="container activities">
    <% if @activities.any? and logged_in? %>
        <ol>
          <% @activities.each do |activity| %>
              <% activity=Activity.new activity unless activity.instance_of? Activity %>
              <%= render activity %>
          <% end %>
        </ol>
    <% end %>
  </div>
</div>
