<div class="center jumbotron">
  <h1>Vitajte vo venčoviskách</h1>

  <h2>Toto je domovská stránka</h2>

  <%= link_to "Zaregistrujte sa teraz!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag("rails.png", alt: "Rails logo") %>