<div class="center jumbotron">
  <h1>Vitajte vo venčoviskách</h1>

  <h2>Toto je domovská stránka</h2>

  <%= link_to("Zaregistrujte sa teraz!", signup_path, class: "btn btn-lg btn-primary") unless logged_in? %>
  <%= link_to("Zobraziť zoznam miest", cities_path, class: "btn btn-lg btn-primary") %>
</div>
