<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Zmazať", user, method: :delete, data: { confirm: "Naozaj?" }, class: 'btn btn-primary' %>
  <% end %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Popis uživatela</h3>
    </div>
    <div class="panel-body">
      <%= user.description %>
    </div>
  </div>
</li>