<footer class="footer">
  <small>
    Aplikácia Venčoviská
    od <a href="http://kovko.yweb.sk/">Michala Kováčika</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "O nás", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
    </ul>
  </nav>
</footer>
